<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm border-0">
            <div class="card-header text-center text-white">
                <h5 class="card-title">Gestion de la crèche</h5>
            </div>

            <div class="card-body p-4">
                <div>
                    <div class="row">
                        <!-- Colonne pour le formulaire de téléchargement -->
                        <div class="col-md-6 mb-4">
                            <!-- Formulaire pour sauvegarder une image -->
                            <form [formGroup]="logoForm" (ngSubmit)="onUpload()" novalidate>
                                <div class="mb-3">
                                    <label for="logo" class="form-label fw-bold">Logo de la crèche</label>
                                    <input
                                        type="file"
                                        accept="image/png, image/jpeg, image/jpg"
                                        id="logo"
                                        class="form-control"
                                        formControlName="logo"
                                        (change)="onFileChange($any($event))"
                                    />
                                </div>
                                <div class="mb-3">
                                    <p-button
                                        type="submit"
                                        label="Mettre à jour"
                                        class="btn-save"
                                        severity="primary"
                                        [disabled]="!selectedLogo"
                                    ></p-button>
                                </div>
                            </form>
                        </div>

                        <!-- Colonne pour l'affichage du logo actuel -->
                        <div class="col-md-6 mb-4">
                            <div class="d-flex flex-column align-items-end">
                                <!-- Vérification de l'existence du logo -->
                                @if (nursery.logo) {
                                <div class="d-flex flex-column align-items-center">
                                    <img alt="logo" class="img-fluid mb-2" style="width: 150px" src="{{ nursery.logo }}" />
                                    <p-button
                                        icon="pi pi-trash"
                                        label="Supprimer logo"
                                        severity="danger"
                                        (click)="onDeleteLogo()"
                                    ></p-button>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <!-- Formulaire de base -->
                <form [formGroup]="nurseryForm" (ngSubmit)="onUpdate()" novalidate method="post" class="mb-3">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Nom</label>
                        <input type="text" class="form-control" formControlName="name" required />
                        @if (nurseryForm.controls["name"].invalid && nurseryForm.controls["name"].touched) {
                        <small class="p-error">Veuillez introduire un nom d'une taille autorisée (6-30 caractères)</small>
                        }
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Adresse</label>
                        <input type="text" class="form-control" formControlName="location" required />
                        @if (nurseryForm.controls["location"].invalid && nurseryForm.controls["location"].touched) {
                        <small class="p-error">Veuillez introduire une adresse d'une taille autorisée (6-80 caractères)</small>
                        }
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold">Capacité de la crèche en nombre d'enfants</label>
                        <input type="number" class="form-control" min="0" formControlName="total_children" required />
                        @if (nurseryForm.controls["total_children"].invalid && nurseryForm.controls["total_children"].touched) {
                        <small class="p-error">Veuillez introduire un nombre (min 0)</small>
                        }
                    </div>
                    @if(userRole == 'admin'){
                    <div class="mb-3">
                        <label class="form-label fw-bold">Gérant</label>
                        <div>
                            <p-dropdown
                                [options]="listPotentialOwners"
                                optionLabel="name"
                                optionValue="id"
                                formControlName="owner"
                                name="owner"
                                placeholder="Sélectionnez un gérant"
                                [style]="{ width: '100%' }"
                            ></p-dropdown>

                            @if (nurseryForm.controls["owner"].invalid && nurseryForm.controls["owner"].touched) {
                            <small class="p-error">Veuillez choisir un gérant</small>
                            }
                        </div>
                    </div>
                    }
                    <!-- @if(userRole == 'owner'){
                    <div class="mb-3">
                        <label class="form-label fw-bold">Gérant</label>
                        <div>
                            <p-dropdown
                                [options]="listPotentialOwners"
                                optionLabel="name"
                                optionValue="id"
                                formControlName="owner"
                                name="owner"
                                placeholder="Sélectionnez un gérant"
                                [style]="{ width: '100%' }"
                                readonly=""
                            ></p-dropdown>

                            @if (nurseryForm.controls["owner"].invalid && nurseryForm.controls["owner"].touched) {
                            <small class="p-error">Veuillez choisir un gérant</small>
                            }
                        </div>
                    </div>
                    } -->

                    <div class="d-flex justify-content-between align-items-center">
                        <p-button
                            type="submit"
                            icon="pi pi-save"
                            label="Enregistrer"
                            class="btn-save"
                            severity="primary"
                            [disabled]="!nurseryForm.valid || loading"
                        />

                        <mn-modal
                            label="Supprimer"
                            title="Suppression d'une crèche"
                            description="Êtes-vous sûr de vouloir supprimer la crèche ?"
                            (onConfirm)="onDelete()"
                        ></mn-modal>
                    </div>
                    <div class="form-group"></div>
                </form>
            </div>
        </div>
    </div>
</div>
