<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center mb-3">
                    <h5 class="card-title">Gestion de la crèche</h5>

                    <!-- Provoque une erreur en console -->
                    @if (nursery.logo){
                    <img alt="Card" class="logo-nursery" src="{{ nursery.logo }}" />
                    }
                </div>
                <form [formGroup]="nurseryForm" (ngSubmit)="onUpdate()" novalidate method="post" class="mb-3">
                    <div class="form-group mb-3">
                        <label class="fw-bold">Nom</label>
                        <input type="text" class="form-control" formControlName="name" required />
                        @if (nurseryForm.controls["name"].invalid && nurseryForm.controls["name"].touched) {
                        <div class="alert alert-danger">Veuillez introduire un nom d'une taille autorisée (6-30 caractères)</div>
                        }
                    </div>

                    <div class="form-group mb-3">
                        <label class="fw-bold">Adresse</label>
                        <input type="text" class="form-control" formControlName="location" required />
                        @if (nurseryForm.controls["location"].invalid && nurseryForm.controls["location"].touched) {
                        <div class="alert alert-danger">Veuillez introduire une adresse d'une taille autorisée (6-80 caractères)</div>
                        }
                    </div>

                    <div class="form-group mb-3">
                        <label class="fw-bold">Capacité de la crèche en nombre d'enfants</label>
                        <input type="number" class="form-control" min="0" formControlName="total_children" required />
                        @if (nurseryForm.controls["total_children"].invalid && nurseryForm.controls["total_children"].touched) {
                        <div class="alert alert-danger">Veuillez introduire un nombre (min 0)</div>
                        }
                    </div>
                    <div class="form-group mb-3">
                        <label class="fw-bold">Gérant</label>
                        <div>
                            <p-dropdown
                                [options]="listPotentialOwners"
                                optionLabel="name"
                                optionValue="id"
                                formControlName="owner"
                                name="owner"
                                placeholder="Sélectionnez un gérant"
                                [style]="{ width: '100%' }"
                            ></p-dropdown>

                            @if (nurseryForm.controls["owner"].invalid && nurseryForm.controls["owner"].touched) {
                            <div class="alert alert-danger">Veuillez choisir un gérant</div>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between align-items-center">
                        <p-button
                            type="submit"
                            icon="pi pi-save"
                            label="Enregistrer"
                            class="btn-save"
                            severity="primary"
                            [disabled]="!nurseryForm.valid || loading"
                        />

                        <mn-modal
                            label="Supprimer"
                            title="Suppression d'une crèche"
                            description="Êtes-vous sûr de vouloir supprimer la crèche ?"
                            (onConfirm)="onDelete()"
                        ></mn-modal>
                    </div>
                    <div class="form-group"></div>
                </form>
                <form [formGroup]="logoForm" (ngSubmit)="onUpload()" novalidate>
                    <div class="mb-3">
                        <label for="logo" class="fw-bold">Logo de la crèche</label>
                        <input
                            type="file"
                            accept="image/png, image/jpeg, image/jpg"
                            id="logo"
                            class="form-control"
                            formControlName="logo"
                            (change)="onFileChange($any($event))"
                        />
                    </div>
                    <hr />
                    <div class="form-group">
                        <p-button type="submit" label="Modifier" class="btn-save" severity="primary" [disabled]="!selectedLogo" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
