<h1 class="text-center justify-content-center">Les Enfants</h1>
@if(children.length == 0) {
<div class="btn-creation">
    <mn-child-form (onCreate)="onCreateRefresh()"></mn-child-form>
</div>
} @defer {@switch (!!children.length) { @case (true) {

<div class="my-5">
    <div class="card">
        <mn-child-list
            [children]="children"
            [role]="userRole"
            (onDelete)="refreshChildren()"
            (onMultipleDelete)="refreshChildren($event)"
            (onCreate)="refreshChildren()"
            class="m-3"
        ></mn-child-list>
    </div>
</div>
<p-paginator
    #paginator
    (onPageChange)="onPageChange($any($event))"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalCount"
    [rowsPerPageOptions]="[5, 10, 20]"
/>
} @case (false) {
<mn-empty></mn-empty>
}}} @placeholder{
<div class="my-5">
    <div class="card">
        <!-- child-list -->
        <div class="p-3">
            <ngx-skeleton-loader count="6" [theme]="{ height: '4rem' }"></ngx-skeleton-loader>
        </div>
    </div>
</div>
}
