<h1 class="text-center justify-content-center">Les Enfants</h1>
@defer {@switch (!!children.length) { @case (true) {
<div class="my-5">
    <mn-child-list
        [children]="children"
        [role]="userRole"
        (onDelete)="refreshChildren()"
        (onMultipleDelete)="refreshChildren($event)"
        (onCreate)="refreshChildren()"
    ></mn-child-list>
</div>
<p-paginator
    (onPageChange)="onPageChange($any($event))"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalCount"
    [rowsPerPageOptions]="[5, 10, 20]"
/>
} @case (false) {
<mn-empty></mn-empty>
}}} @placeholder {
<div class="my-5">
    <!-- child-list -->
    <div class="card">
        <!-- child-card -->
        <ngx-skeleton-loader count="6" appearance="line"></ngx-skeleton-loader>
    </div>
</div>
}
