<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Gestion de la crèche</h5>
                </div>
                <form (ngSubmit)="onSubmit()" class="card-body">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom :</label>
                        <input type="text" id="name" class="form-control" value="{{ nursery.name }}" />
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Adresse :</label>
                        <input type="text" id="location" class="form-control" value="{{ nursery.location }}" />
                    </div>
                    <div class="mb-3">
                        <label for="dateNaissance" class="form-label">Nombre total d'enfants</label>
                        <input type="number" id="total_children" class="form-control" value="{{ nursery.total_children }}" />
                    </div>
                    <!-- <div class="mb-3">
                        <label for="owner" class="form-label">Gérant :</label>
                        <input type="text" id="name" class="form-control" value="{{ nursery.owner.name }}" readonly />
                    </div> -->
                    <p-button label="Enregistrer" [outlined]="true" class="btn-save" severity="secondary" />
                    <p-button label="Supprimer" [outlined]="true" class="btn-delete" severity="danger" />
                </form>
            </div>
        </div>
    </div>
</div>
