<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm border-0">
            <div class="card-header text-center text-white">
                <h5 class="card-title">Gestion d'un employé</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="employeeForm" (ngSubmit)="onUpdate()" novalidate class="mb-3">
                    <div class="form-group mb-3">
                        <label>Prénom</label>
                        <input type="text" class="form-control" formControlName="name" required />
                        @if (employeeForm.controls["name"].invalid && employeeForm.controls["name"].touched) {
                        <small class="p-error">Veuillez introduire un prénom d'une taille autorisée (6-30 caractères)</small>
                        }
                    </div>
                    <div class="form-group mb-3">
                        <label for="surname">Nom de famille</label>
                        <input type="text" class="form-control" formControlName="surname" required />
                        @if (employeeForm.controls["surname"].invalid && employeeForm.controls["surname"].touched) {
                        <small class="p-error">Veuillez introduire un nom d'une taille autorisée (6-30 caractères)</small>
                        }
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p-button
                            type="submit"
                            icon="pi pi-save"
                            label="Enregistrer"
                            class="btn-save"
                            severity="primary"
                            [disabled]="!employeeForm.valid || loading"
                        />

                        <mn-modal
                            label="Supprimer"
                            title="Suppression d'un employé"
                            description="Êtes-vous sûr de vouloir supprimer l'employé ?"
                            (onConfirm)="onDelete()"
                        ></mn-modal>
                    </div>
                    <div class="form-group"></div>
                </form>
            </div>
        </div>
    </div>
</div>
