<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm border-0">
            <div class="card-header text-center text-white">
                <h5 class="card-title">Gestion d'un enfant</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="childForm" (ngSubmit)="onUpdate()" novalidate class="mb-3">
                    <div class="form-group mb-3">
                        <label>Prénom</label>
                        <input type="text" class="form-control" formControlName="name" required />
                        @if (childForm.controls["name"].invalid && childForm.controls["name"].touched) {
                        <div class="alert alert-danger">Veuillez introduire un prénom d'une taille autorisée (6-30 caractères)</div>
                        }
                    </div>
                    <div class="form-group mb-3">
                        <label for="surname">Nom de famille</label>
                        <input type="text" class="form-control" formControlName="surname" required />
                        @if (childForm.controls["surname"].invalid && childForm.controls["surname"].touched) {
                        <div class="alert alert-danger">Veuillez introduire un nom d'une taille autorisée (6-30 caractères)</div>
                        }
                    </div>
                    <div class="form-group mb-3">
                        <label>Age</label>
                        <input type="number" class="form-control" min="0" formControlName="age" required />
                        @if (childForm.controls["age"].invalid && childForm.controls["age"].touched) {
                        <div class="alert alert-danger">Veuillez introduire un nombre (min 0)</div>
                        }
                    </div>

                    <div class="form-group mb-3">
                        <label>Genre</label>
                        <div class="field-radiobutton">
                            <p-radioButton id="male" name="gender" value="male" formControlName="gender" class="me-1" />
                            <label for="male">Masculin</label>
                        </div>
                        <div class="field-radiobutton">
                            <p-radioButton id="female" name="gender" value="female" formControlName="gender" class="me-1" />
                            <label for="female">Féminin</label>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label>Date de début du contrat</label>
                        <p-calendar formControlName="startDateContract" dateFormat="dd.mm.yy" [showIcon]="true" [iconDisplay]="'input'" />
                        @if (childForm.controls["startDateContract"].invalid && childForm.controls["startDateContract"].touched) {
                        <div class="alert alert-danger">Veuillez introduire une date</div>
                        }
                    </div>

                    <div class="form-group mb-3">
                        <label>Date de fin du contrat</label>
                        <p-calendar formControlName="endDateContract" dateFormat="dd.mm.yy" [showIcon]="true" [iconDisplay]="'input'" />
                        @if (childForm.controls["endDateContract"].invalid && childForm.controls["endDateContract"].touched) {
                        <div class="alert alert-danger">Veuillez introduire une date</div>
                        }
                    </div>
                    <div class="form-group mb-3">
                        <label class="fw-bold">Parent</label>
                        <div>
                            <p-dropdown
                                [options]="listPotentialParents"
                                optionLabel="name"
                                optionValue="id"
                                formControlName="parents"
                                name="parents"
                                placeholder="Sélectionnez un gérant"
                                [style]="{ width: '100%' }"
                            ></p-dropdown>

                            @if (childForm.controls["parents"].invalid && childForm.controls["parents"].touched) {
                            <div class="alert alert-danger">Veuillez choisir un parent</div>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="form-group mb-3">
                        <label class="fw-bold">Crèche</label>
                        <div>
                            <p-dropdown
                                [options]="listPotentialNurseries"
                                optionLabel="name"
                                optionValue="id"
                                formControlName="nursery"
                                name="nursery"
                                placeholder="Sélectionnez une crèche"
                                [style]="{ width: '100%' }"
                            ></p-dropdown>

                            @if (childForm.controls["nursery"].invalid && childForm.controls["nursery"].touched) {
                            <div class="alert alert-danger">Veuillez choisir une crèche</div>
                            }
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p-button
                            type="submit"
                            icon="pi pi-save"
                            label="Enregistrer"
                            class="btn-save"
                            severity="primary"
                            [disabled]="!childForm.valid || loading"
                        />

                        <mn-modal
                            label="Supprimer"
                            title="Suppression d'une crèche"
                            description="Êtes-vous sûr de vouloir supprimer la crèche ?"
                            (onConfirm)="onDelete()"
                        ></mn-modal>
                    </div>
                    <div class="form-group"></div>
                </form>
            </div>
        </div>
    </div>
</div>
