// Surbrillance des cartes au survol de la souris
.card.nursery:hover {
    border-color: var(--nursery-color);
    box-shadow: 0 0 10px var(--nursery-color);
}

.card.child:hover {
    border-color: var(--child-color);
    box-shadow: 0 0 10px var(--child-color);
}

.card.employee:hover {
    border-color: var(--employee-color);
    box-shadow: 0 0 10px var(--employee-color);
}

.card.parent:hover {
    border-color: var(--parent-color);
    box-shadow: 0 0 10px var(--parent-color);
}

.card.activity:hover {
    border-color: var(--activity-color);
    box-shadow: 0 0 10px var(--activity-color);
}

// Modification de la couleur du contenu
.stretched-link.nursery {
    text-decoration: none;
    color: var(--nursery-color);
}

.stretched-link.employee {
    text-decoration: none;
    color: var(--employee-color);
}

.stretched-link.child {
    text-decoration: none;
    color: var(--child-color);
}

.stretched-link.parent {
    text-decoration: none;
    color: var(--parent-color);
}

.stretched-link.activity {
    text-decoration: none;
    color: var(--activity-color);
}
.stretched-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.stretched-link:hover {
    filter: brightness(0.8);
}
