<div class="text-center">
    <h1>Tableau de bord {{ userRole }}</h1>
</div>
<div class="my-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col text-center">
            <div class="card h-100 nursery">
                <a routerLink="./nurseries" class="stretched-link nursery">
                    <div class="icon my-5">
                        <i class="pi pi-star" style="font-size: 7.5rem"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Crèches</h5>
                        <p class="card-text">Consulter les crèches</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col text-center">
            <div class="card h-100 employee">
                <a routerLink="./employees" class="stretched-link employee">
                    <div class="icon my-5">
                        <i class="pi pi-users" style="font-size: 7.5rem"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Employés</h5>
                        <p class="card-text">Consulter les employés</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col text-center">
            <div class="card h-100 child">
                <a routerLink="./children" class="stretched-link child">
                    <div class="icon my-3">
                        <fa-icon [icon]="faBaby" style="font-size: 7.5rem"></fa-icon>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Enfants</h5>
                        <p class="card-text">Consulter les enfants</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col text-center">
            <div class="card h-100 parent">
                <a routerLink="./parents" class="stretched-link parent">
                    <div class="icon my-5">
                        <i class="pi pi-user" style="font-size: 7.5rem"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Parents</h5>
                        <p class="card-text">Consulter les parents</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
