.container {
    min-height: 800px;
    margin-top: 100px;
}

h1 {
    text-align: center;
}
.btn-login,
.btn-sign-in {
    margin-bottom: 50px;
}

.btn-sign-in {
    float: right;
}

.titles {
    font-weight: bold;
}

.paragraph {
    margin-top: 20px;
    margin-bottom: 50px;
}
