<div class="search-container container">
    <p-inputGroup>
        <p-inputGroupAddon>Catégories</p-inputGroupAddon>
        <p-dropdown
            [options]="repositories"
            optionLabel="name"
            optionValue="endpoint"
            [(ngModel)]="searchRepo"
            name="repository"
            placeholder="Select a repository"
            [style]="{ 'border-radius': '0px' }"
            (onChange)="refreshSearchLabel()"
        >
        </p-dropdown>
        <p-dropdown
            [options]="results"
            placeholder="Rechercher..."
            [editable]="true"
            [(ngModel)]="searchLabel"
            name="result"
            optionLabel="name"
            optionValue="id"
            [style]="{ 'border-radius': '0px' }"
            (onChange)="onSearch()"
            (onClick)="selectResult($event)"
        ></p-dropdown>
        <button icon="pi pi-search" class="p-button-warning" pButton [disabled]="!searchLabel" (click)="onSearchButton()"></button>
        <!-- <p-button [routerLink]="[searchRepo, searchValue.toString()]" (onClick)="onSearchButton()"><i class="pi pi-search"></i></p-button> -->
    </p-inputGroup>
</div>
