img {
    max-height: 150px;
}

.card-link {
    text-decoration: none; /* Retire la sous-ligne du lien */
    color: inherit; /* Utilise la couleur du texte de la carte */
    display: block; /* Assure que le lien prend la largeur de la carte */
}

.card {
    min-height: 200px;
    transition: transform 0.3s, box-shadow 0.3s; /* Ajoute une transition pour l'effet */
}

.card:hover {
    color: var(--nursery-color);
    transform: scale(1.02); /* Agrandit légèrement la carte */
    box-shadow: 0 4px 8px var(--nursery-color); /* Ajoute une ombre au survol */
}
