<div class="col">
    <a routerLink="./{{ nursery.id }}" class="card-link">
        <div class="card border-0">
            <div class="row g-0 flex-row">
                <!-- Forcer une disposition en ligne -->
                <div class="col-8 d-flex align-items-center">
                    <!-- Utilisation de col-8 pour tous les écrans -->
                    <div class="card-body">
                        <h5 class="card-title">{{ nursery.name }}</h5>
                        <p class="card-text">
                            Propriétaire : <i>{{ nursery.owner?.name || 'non défini' }}</i>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Adresse : {{ nursery.location }}</small>
                            <br />
                            <small class="text-muted">Nombre de places maximum : {{ nursery.total_children }}</small>
                        </p>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <!-- Utilisation de col-4 pour tous les écrans -->
                    @if (nursery.logo) {
                    <img src="{{ nursery.logo }}" class="img-fluid rounded" alt="logo" />
                    }
                </div>
            </div>
        </div>
    </a>
</div>
