.card {
    padding: 0.4rem;
    //border-color: var(--tableau-de-bord-color);
    border-color: #8b8b8b;
}

.card:hover {
    transition: 1s;
    background-color: var(--nursery-color);
}

.stretched-link {
    text-decoration: none;
}
.stretched-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
