.card {
    padding: 1rem;
}
.card:hover {
    border-color: darkcyan;
    box-shadow: 0 0 10px darkcyan;
}
.stretched-link {
    text-decoration: none;
    color: darkcyan;
}
.stretched-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
