<div class="privacy-page">
    <div class="privacy-container">
        <h1>Règlement Général sur la Protection des Données (RGPD)</h1>

        <p>A présent, j’aborde le sujet du RGPD (Règlement général sur la protection des données).</p>

        <h2>Utilisation des données</h2>
        <p><strong>My Nursery</strong> utilise les données collectées pour traiter les demandes et fournir les services proposés.</p>

        <h2>Partage de données</h2>
        <p>
            <strong>My Nursery</strong> ne partage pas les données personnelles des utilisateurs avec des tiers sauf si la loi nous y
            oblige.
        </p>

        <h2>Sécurité des données</h2>
        <p>
            <strong>My Nursery</strong> met tout en place pour avoir des mesures de sécurité les plus efficaces afin de protéger les
            données. Ces mesures visent à contrer la perte, le vol de données.
        </p>

        <h2>Les cookies</h2>
        <p>
            <strong>My Nursery</strong> utilise des cookies dans le but d’améliorer l’expérience utilisateur. À l’arrivée sur la page
            d’accueil, un formulaire de prévention sur l’utilisation des cookies est présenté.
        </p>

        <h2>Vos droits</h2>
        <p>En vertu du RGPD, vous disposez des droits suivants :</p>
        <ul>
            <li><strong>Droit d’accès :</strong> Vous pouvez demander toutes les données en rapport à votre sujet.</li>
            <li>
                <strong>Droit à l’effacement :</strong> Vous pouvez demander la suppression de toutes les données en rapport à votre sujet.
            </li>
            <li>
                <strong>Droit de rectification :</strong> Vous avez le droit de demander à modifier des informations erronées à votre sujet.
            </li>
        </ul>
    </div>
</div>
