<h1 class="text-center justify-content-center">Les Employés</h1>
@defer {@switch (!!employees.length) { @case (true) {

<div class="my-5">
    <div class="card">
        <mn-employee-list
            [employees]="employees"
            [role]="userRole"
            (onDelete)="refreshEmployees()"
            (onMultipleDelete)="refreshEmployees($event)"
            (onCreate)="refreshEmployees()"
            class="m-3"
        ></mn-employee-list>
    </div>
</div>
<p-paginator
    #paginator
    (onPageChange)="onPageChange($any($event))"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalCount"
    [rowsPerPageOptions]="[5, 10, 20]"
/>
} @case (false) {
<div class="btn-creation">
    <mn-employee-form (onCreate)="onCreateRefresh()"></mn-employee-form>
</div>
<mn-empty></mn-empty>
}}} @placeholder{
<div class="my-5">
    <div class="card">
        <!-- employee-list -->
        <div class="p-3">
            <ngx-skeleton-loader count="6" [theme]="{ height: '4rem' }"></ngx-skeleton-loader>
        </div>
    </div>
</div>
}
