.icon {
    font-size: 2em; /* Ajustez la taille en fonction de la taille du texte */
    margin-right: 10px; /* Espace entre l'icône et le texte */
}

.text {
    font-size: 2em; /* Assurez-vous que cette taille est en harmonie avec celle de l'icône */
}
