<p-button icon="pi pi-trash" label="Supprimer" severity="danger" class="btn-delete" />
<p-dialog
    header="{{ this.title }}"
    [modal]="true"
    [(visible)]="visible"
    [closeOnEscape]="cancel()"
    [dismissableMask]="cancel()"
    [closable]="false"
    [style]="{ width: '25rem' }"
    class="text-center title"
>
    <div class="flex gap-3 mb-3 description-container">
        <span class="p-text-secondary block mb-5">{{ this.description }}</span>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Annuler" class="buttons" severity="secondary" (onClick)="cancel()" />
        <p-button label="Supprimer" class="buttons" severity="danger" (onClick)="confirm()" />
    </div>
</p-dialog>
