<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container">
        <div class="navbar-brand">My Nursery</div>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item me-3">
                    <a
                        class="nav-link"
                        aria-current="page"
                        [routerLink]="['./']"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >Tableau de bord</a
                    >
                </li>

                @switch (userRole){ @case ('admin') {
                <li class="nav-item me-3">
                    <a class="nav-link" aria-current="page" routerLink="nurseries" routerLinkActive="active">Crèches</a>
                </li>
                } @case ('owner') {
                <li class="nav-item me-3 nav-link">Je suis gérant</li>
                } @case ('user') {
                <li class="nav-item me-3 nav-link">Je suis utilisateur</li>
                } }

                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Boards </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/admin">Admin</a></li>
                        <li><a class="dropdown-item" routerLink="/owner">Gérant</a></li>
                        <li><a class="dropdown-item" routerLink="/user">Utilisateur</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-danger" (click)="logout()">Déconnexion</button>
            </div>
        </div>
    </div>
</nav>
