:host {
    ::ng-deep .prime-menubar-override {
        text-align: center;
        border-radius: 0%;
        min-width: auto;
    }

    ::ng-deep .p-menubar {
        border: none;
    }

    ::ng-deep {
        @media (min-width: 100px) {
            .container {
                max-width: 1320px;
            }
        }
    }
}

:host::ng-deep {
    @media screen and (max-width: 1000px) {
        .p-menubar {
            position: relative;
        }
    }
}

.ml-2 {
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

.params {
    margin-left: 1rem;
    color: #4b5563;
}

#dashboard:hover,
:active {
    color: var(--dashboard-color);
}

#nursery:hover {
    color: var(--nursery-color);
}

#children:hover {
    color: var(--child-color);
}

#employee:hover {
    color: var(--employee-color);
}

#parents:hover {
    color: var(--parent-color);
}

#activities:hover {
    color: var(--activity-color);
}

#search:hover {
    color: #a83232;
}

#profile:hover {
    color: #a8329c;
}

#disconnect:hover {
    color: #6932a8;
}
