<div class="container navbar-collapse justify-content-center">
    <p-menubar [model]="items" styleClass="prime-menubar-override md:min-w-min">
        <ng-template pTemplate="start"> </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="pRipple flex align-items-center p-menuitem-link" id="{{ item.id }}" [routerLink]="['./', item.url]">
                <span [class]="item.icon"></span>
                @if(item?.faIcon){
                <fa-icon [icon]="item.faIcon"></fa-icon>
                }
                <span class="ml-2"> {{ item.label }}</span>
                <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{
                    item.shortcut
                }}</span>
                <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="d-flex align-items-center gap-2">
                @if (userRole == 'admin') {
                <a pRipple class="pRipple d-flex align-items-center p-menuitem-link params" (click)="toggleSearchBar()"
                    ><span class="pi pi-search"></span> <span class="ml-2" id="search">Recherche</span></a
                >
                }

                <a pRipple class="pRipple align-items-center p-menuitem-link params" [routerLink]="['./profile']"
                    ><span class="pi pi-cog"></span><span class="ml-2" id="profile">Profil</span></a
                >
                <a pRipple class="pRipple align-items-center p-menuitem-link params" (click)="logout()">
                    <span class="pi pi-sign-out"></span>
                    <span class="ml-2" id="disconnect">Déconnexion</span>
                </a>
            </div>
        </ng-template>
    </p-menubar>
    <div [@toggleSearch]="showSearchBar ? 'visible' : 'hidden'">
        <mn-search-bar [role]="userRole"></mn-search-bar>
    </div>
</div>
