<div class="container d-flex justify-content-center align-items-center">
    <div class="row justify-content-center w-100">
        <div class="col-md-6">
            <h2 class="text-center my-4">Connexion</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="email" class="form-label">Adresse email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required />
                </div>

                @if(email?.invalid && email?.touched){
                <div class="alert alert-danger">Veuillez vérifier l'adresse introduite</div>
                }

                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" formControlName="password" required />
                </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary text-center" [disabled]="!loginForm.valid">Connexion</button>
                </div>

                @if (loading){
                <div class="text-center">
                    <div class="spinner-grow text-info" role="status"></div>
                </div>
                } @if (errorMessage) {
                <div class="alert alert-danger text-center">
                    {{ errorMessage }}
                </div>
                }
            </form>
        </div>
    </div>
</div>
