<div class="card">
    @if (role == 'admin' || role == 'owner') {
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <mn-child-form (onCreate)="refreshChildren()"></mn-child-form>
        </ng-template>

        <ng-template pTemplate="right">
            <p-button
                severity="danger"
                label="Supprimer la sélection"
                icon="pi pi-trash"
                (onClick)="deleteSelectedProducts()"
                [disabled]="!selectedChildren || !selectedChildren.length"
            />
        </ng-template>
    </p-toolbar>
    } @switch (role){ @case ('admin' || 'owner') {
    <p-table
        [value]="children"
        [tableStyle]="{ 'min-width': '50rem' }"
        [(selection)]="selectedChildren"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
        (onHeaderCheckboxToggle)="onHeaderCheckboxClick($any($event.checked))"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                <th pSortableColumn="name" style="width: 25%">Prénom <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="surname" style="width: 25%">Nom <p-sortIcon field="surname"></p-sortIcon></th>
                <th pSortableColumn="age" style="width: 25%">Age <p-sortIcon field="age"></p-sortIcon></th>
                <th pSortableColumn="gender" style="width: 25%">Genre <p-sortIcon field="gender"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-child>
            <tr (click)="seeDetails(child.id)" [pSelectableRow]="child">
                <td>
                    <p-tableCheckbox [value]="child" (click)="onCheckboxClick($event, child)"></p-tableCheckbox>
                </td>
                <td>{{ child.name }}</td>
                <td>{{ child.surname }}</td>
                <td>{{ child.age }}</td>
                <td>{{ child.gender }}</td>
                <td>
                    <mn-modal
                        title="Supprimer l'enfant"
                        description="Voulez-vous supprimer l'enfant ?"
                        (click)="$event.stopPropagation()"
                        (onConfirm)="deleteChild(child.id)"
                    ></mn-modal>
                </td>
            </tr>
        </ng-template>
    </p-table>

    } @case ('user') {
    <p-table
        [value]="children"
        [tableStyle]="{ 'min-width': '50rem' }"
        [(selection)]="selectedChildren"
        selectionMode="single"
        [rowHover]="true"
        dataKey="id"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width: 25%">Prénom <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="surname" style="width: 25%">Nom <p-sortIcon field="surname"></p-sortIcon></th>
                <th pSortableColumn="age" style="width: 25%">Age <p-sortIcon field="age"></p-sortIcon></th>
                <th pSortableColumn="gender" style="width: 25%">Genre <p-sortIcon field="gender"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-child>
            <tr (click)="seeDetails(child.id)" [pSelectableRow]="child">
                <td>{{ child.name }}</td>
                <td>{{ child.surname }}</td>
                <td>{{ child.age }}</td>
                <td>{{ child.gender }}</td>
            </tr>
        </ng-template>
    </p-table>
    } }
</div>
