// .card {
//     border-color: gray;
// }

// input,
// select {
//     border-color: grey;
// }

// input:hover {
//     border-color: var(--nursery-color);
// }

.overlay {
    border: 1px;
    border-radius: 0.25rem;
    padding: 1rem;
    background-color: white;
}

.btn-delete {
    position: relative;
    float: right;
}
