@defer {@switch (!!nurseries.length) { @case (true) {
<h1 class="text-center justify-content-center">Les Crèches</h1>
<div class="btn-creation">
    <p-button icon="pi pi-plus" label="Créer une nouvelle crèche" severity="success" [routerLink]="['./create']" />
</div>
<div class="container my-5">
    <mn-nursery-list [nurseries]="nurseries"></mn-nursery-list>
</div>

<p-paginator
    (onPageChange)="onPageChange($any($event))"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalCount"
    [rowsPerPageOptions]="[12, 24, 36]"
/>
} @case (false) {
<mn-empty></mn-empty>
}} } @placeholder (minimum 500ms) {
<h1 class="text-center justify-content-center">Les Crèches</h1>

<div class="container my-5">
    <!-- nursery-list -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (number of skeletonNumbers; track number) {
        <!-- nursery-card -->
        <div class="col">
            <div class="card d-flex justify-content-center">
                <ngx-skeleton-loader count="4" appearance="line"></ngx-skeleton-loader>
            </div>
        </div>
        }
    </div>
</div>
}
