@if (nurseries) {
<h1 class="text-center justify-content-center">Les Crèches</h1>
<div class="btn-creation">
    <p-button icon="pi pi-plus" label="Créer une nouvelle crèche" severity="success" [routerLink]="['./create']" />
</div>
<div class="container my-5">
    <mn-nursery-list [nurseries]="nurseries"></mn-nursery-list>
</div>
<!-- <div class="row d-flex justify-content-center">
    <mn-pagination-bar [totalPages]="totalPages"></mn-pagination-bar>
</div> -->
<p-paginator
    (onPageChange)="onPageChange($any($event))"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalCount"
    [rowsPerPageOptions]="[12, 24, 36]"
/>
} @else { Pas de résultat }
