<p-button severity="success" label="Ajouter un parent" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
<p-dialog [(visible)]="parentDialog" [style]="{ width: '450px' }" header="Détails du parent" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="parentForm" (ngSubmit)="saveParent()">
            <div class="row mb-3">
                <div class="field col">
                    <label for="name">Prénom</label>
                    <input type="text" pInputText id="name" formControlName="name" autofocus />
                    @if (parentForm.controls.name.invalid && parentForm.controls.name.touched) {
                    <small class="p-error"> Un prénom est requis </small>
                    }
                </div>
                <div class="field col">
                    <label for="surname">Nom de famille</label>
                    <input type="text" pInputText id="surname" formControlName="surname" />
                    @if (parentForm.controls.surname.invalid && parentForm.controls.surname.touched) {
                    <small class="p-error"> Un nom est requis </small>
                    }
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="phone">Numéro de téléphone</label>
                <p-inputMask id="phone" mask="+32 999 99 99 99" formControlName="phone" placeholder="+32 ___ __ __ __"> </p-inputMask>
                @if (parentForm.controls.phone.invalid && parentForm.controls.phone.touched) {
                <small class="p-error"> Un numéro de téléphone est requis </small>
                }
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" pInputText id="email" formControlName="email" />
                @if (parentForm.get('email')?.invalid && parentForm.get('email')?.touched) {
                <small class="p-error">
                    @if (parentForm.get('email')?.errors?.required) { Une adresse mail est requise } @if
                    (parentForm.get('email')?.errors?.email) { Format de mail incorrect }
                </small>
                }
            </div>

            <div class="form-group mb-3">
                <label class="fw-bold">Enfants *</label>
                <div>
                    <p-multiSelect
                        [options]="listPotentialChildren"
                        formControlName="children"
                        optionLabel="name"
                        placeholder="Sélectionnez un ou plusieurs enfant(s)"
                        selectedItemsLabel="{children.length} enfants sélectionnés"
                        [style]="{ width: '100%' }"
                        appendTo="body"
                    />
                    <small>* Ce champ est optionnel</small>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button label="Annuler" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        <p-button
            type="submit"
            label="Enregistrer"
            icon="pi pi-check"
            [text]="true"
            severity="success"
            (onClick)="saveParent()"
            [disabled]="!parentForm.valid"
        />
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" />
