<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header mb-3">
                    <h5 class="card-title">Création de la crèche</h5>
                </div>
                <form [formGroup]="nurseryForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group mb-3">
                        <label class="fw-bold">Nom</label>
                        <input type="text" class="form-control" formControlName="name" required />
                        @if (nurseryForm.controls["name"].invalid && nurseryForm.controls["name"].touched) {
                        <div class="alert alert-danger">Veuillez introduire un nom d'une taille autorisée (6-30 caractères)</div>
                        }
                    </div>

                    <div class="form-group mb-3">
                        <label class="fw-bold">Adresse</label>
                        <input type="text" class="form-control" formControlName="location" required />
                        @if (nurseryForm.controls["location"].invalid && nurseryForm.controls["location"].touched) {
                        <div class="alert alert-danger">Veuillez introduire une adresse d'une taille autorisée (6-80 caractères)</div>
                        }
                    </div>

                    <div class="form-group mb-3">
                        <label class="fw-bold">Capacité de la crèche en nombre d'enfants</label>
                        <input type="number" class="form-control" min="0" formControlName="total_children" required />
                        @if (nurseryForm.controls["total_children"].invalid && nurseryForm.controls["total_children"].touched) {
                        <div class="alert alert-danger">Veuillez introduire un nombre (min 0)</div>
                        }
                    </div>
                    <div class="form-group mb-3">
                        <label class="fw-bold">Gérant</label>
                        <div>
                            <select name="select" formControlName="owner" class="form-control" required>
                                @for (owner of listPotentialOwners; track owner){
                                <option [value]="owner.id">
                                    {{ owner.name }}
                                </option>
                                }
                            </select>
                            @if (nurseryForm.controls["owner"].invalid && nurseryForm.controls["owner"].touched) {
                            <div class="alert alert-danger">Veuillez choisir un gérant</div>
                            }
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="logo" class="form-label fw-bold">Image de la crèche</label>
                        <input
                            type="file"
                            accept="image/png, image/jpeg, image/jpg"
                            id="logo"
                            class="form-control"
                            formControlName="logo"
                            (change)="onFileChange($any($event))"
                        />
                    </div>
                    <hr />
                    <div class="form-group">
                        <!-- <button type="submit" class="btn btn-primary" [disabled]="!nurseryForm.valid || loading">Register</button> -->
                        <p-button
                            type="submit"
                            label="Créer"
                            class="btn-save"
                            severity="success"
                            [disabled]="!nurseryForm.valid || loading"
                        />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
