/* You can add global styles to this file, and also import other style files */

@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css' layer(bootstrap);
@import 'primeicons/primeicons.css';

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

:root {
    --dashboard-color: #4543a3;
    --nursery-color: #4381a3;
    --child-color: #43a363;
    --parent-color: #a8a432;
    --activity-color: #a84e32;
}

/* hide recaptcha badge*/
.grecaptcha-badge {
    visibility: hidden;
}

/* only show recaptcha badge on needed pages */
body.recaptcha .grecaptcha-badge {
    visibility: visible;
}
