<!-- <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <a routerLink="./nurseries" class="stretched-link">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image 1" />
                    <div class="card-body">
                        <h5 class="card-title">Crèches</h5>
                        <p class="card-text">Route /nurseries</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a href="#" class="stretched-link">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image 2" />
                    <div class="card-body">
                        <h5 class="card-title">Titre de la carte 2</h5>
                        <p class="card-text">Description de la carte 2.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a href="#" class="stretched-link">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image 3" />
                    <div class="card-body">
                        <h5 class="card-title">Titre de la carte 3</h5>
                        <p class="card-text">Description de la carte 3.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a href="#" class="stretched-link">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image 4" />
                    <div class="card-body">
                        <h5 class="card-title">Titre de la carte 4</h5>
                        <p class="card-text">Description de la carte 4.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->
<div class="text-center">
    <h1>Ceci est le tableau de board</h1>
</div>
